<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
   <description>
		Servidor web de entrenamos.uy.
   </description>
  <display-name>servidorWeb</display-name>
  <welcome-file-list>
    <welcome-file>/pages/login.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/pages/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/pages/500.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/pages/403.jsp</location>
  </error-page>
  <servlet>
  	<display-name>login</display-name>
  	<servlet-name>login</servlet-name>
  	<servlet-class>servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>login</servlet-name>
  	<url-pattern>/ServidorWeb</url-pattern>
  </servlet-mapping>
</web-app>
